/* app css stylesheet */

* {
    outline: none !important;
}

body {
    padding-top: 20px;
}

.event-list {
    list-style: none;
    margin: 30px 5px;
    padding: 0;
}

.edit-link {
    display: inline-block;
    vertical-align: top;
    font: 12px/1.5 Helvetica, Verdana, sans-serif;

}

.event-list-el {
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;
    list-style: none;
    border-bottom: 1px dashed #ccc;
}

.event-list-el a:hover {
    text-decoration: none;
}

.event-title {
    vertical-align: top;
    display: inline-block;
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    padding: 5px 0 0 0;
}

.draw-button {
    display: inline-block;
    float: right;
}

.draw-prize-placement {
    text-align:center;
}
.draw-prize-button {
    text-align:center;
    margin: 5px 0 0 0;
}

.date {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #fcfcfc;
    background: linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
    background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);

    margin: 0 16px 0 0;
}

.date .day {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #9e9e9e;
}

.date .year {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #9e9e9e;
}

.date .month {
    background: #d10000;
    background: linear-gradient(top, #d10000 0%, #7a0909 100%);
    background: -moz-linear-gradient(top, #d10000 0%, #7a0909 100%);
    background: -webkit-linear-gradient(top, #d10000 0%, #7a0909 100%);
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    display: block;
    border-top: 3px solid #a13838;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 10px;
    padding: 3px 0 3px 0;
}

#process-notification-area {
    padding: 7px 5px 7px 40px;
    background: url('images/spinner.gif') no-repeat 0 0;
    margin: 20px 0;
    color: #666;
    font-size: 12pt;
}

.prize-thumb {
    width: 60px;
}

.prize-thumb img {
    width: auto;
    height: auto;
    max-width: 60px;
}

.member-block {
    position: relative;
    height: 80px;
}

.member-block .member-avatar {
    position: absolute;
    top:8px;
    left: 5px;
    width: 50px;
}

.member-block .member-avatar img {
    height: 48px;
    width: 48px;
    border-radius:24px;
}

.member-block .member-info {
    margin: 0 0 0 60px;
}

.member-block .member-info p {
    line-height: 1.4em;
    margin: 0;
    padding: 4px;
}

.member-block .member-info p.name {
    font-weight: bold;
}

.modal-body .winner {
    font-size: 14pt;
}

.modal-body .winner .name {
    font-weight: bold;
    background: #fef2b3;
    padding: 3px 5px;
    border-radius: 6px;
}

.modal-body .winner-photo {
    text-align: center;
    margin: 5px 0 30px 0;
}

.modal-body .winner-photo img {
    width: auto;
    max-height: 200px;
}