<div ng-controller="EventDetailsCtrl">
    <h1 class="page-header">{{event.title}}</h1>

    <div class="well well-sm">
        <button class="btn btn-primary" ng-click="">Create giveaways</button>
    </div>

    <div class="col-lg-12" ng-if="attendees.attendees.length">

        <div class="col-lg-4 member-block" ng-repeat="member in attendees.attendees" data-member-id="{{member.id}}">
            <div class="member-avatar">
                <img ng-if="member.photoUrl.length" ng-src="{{member.photoUrl}}" />
                <img ng-if="!member.photoUrl.length" ng-src="{{placeholderAvatar}}" />
            </div>
            <div class="member-info">
                <p class="name">{{member.displayName}}</p>
                <p class="win-info bg-success">Licencja IntelliJ IDEA</p>
            </div>
        </div>
    </div>
</div>