<div ng-controller="EventDetailsCtrl">
    <h1 class="page-header">{{event.title}}</h1>

    <div class="well well-sm">
        <button class="btn btn-primary" ng-click="createGiveAway()">Create giveaways</button>
    </div>

    <h3 class="page-header">Give-aways</h3>

    <div ng-if="!giveAways.giveAways.length" class="alert alert-info">
        <p>There are no give-aways defined. <strong>Create your first give-away.</strong></p>
    </div>

    <table class="table" ng-if="giveAways.giveAways.length">
        <thead>
        <tr>
            <th>Give-away name</th>
            <th>Amount</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="giveAway in giveAways.giveAways">
            <td style="width:320px;">{{giveAway.prizeName}}</td>
            <td>{{giveAway.amount}}</td>
            <td><button class="btn btn-primary draw-button" ng-click="drawDialog(giveAway)">Prize Draw!</button></td>
        </tr>
        </tbody>
    </table>


    <h3 class="page-header">Attendees</h3>

    <div class="col-lg-12" ng-if="attendees.attendees.length">

        <div class="col-lg-4 member-block" ng-repeat="member in attendees.attendees" data-member-id="{{member.id}}">
            <div class="member-avatar">
                <img ng-if="member.photoUrl.length" ng-src="{{member.photoUrl}}" />
                <img ng-if="!member.photoUrl.length" ng-src="{{placeholderAvatar}}" />
            </div>
            <div class="member-info">
                <p class="name">{{member.displayName}}</p>
                <p class="win-info bg-success">Licencja IntelliJ IDEA</p>
            </div>
        </div>
    </div>

    
    <div class="modal fade" id="createDrawPrizeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Draw {{prizeName}}</h4>
                </div>
                <div class=" draw-prize-placement">
                    <button class="btn btn-primary draw-prize-button" ng-click="draw(giveAwayId)" ng-if="giveAwayEnabled">Draw!</button>
                </div>
                <table class="table" ng-if="draws.draws.length">
                    <thead>
                    <tr>
                        <th>Winner</th>
                        <th>confirmed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="draw in draws.draws">
                        <td>{{draw.attendeeName}}</td>
                        <td>{{draw.confirmed}}</td>
                        
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createPrizeDrawnModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Draw Complete!</h4>
                </div>
                
                <h3>Winner is {{winner.attendeeName}}</h3>
                confirm?
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="confirm()">Yes</button>
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="createGiveAwayModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create new give-away</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline" name="createGiveAwayForm">
                        <select ng-model="giveAway.prizeId" class="form-control">
                            <option ng-repeat="prize in prizes.prizes" value="{{prize.id}}">{{prize.name}}</option>
                        </select>
                        <input type="number" placeholder="Amount" name="amount" min="1" style="width:80px;" ng-model="giveAway.amount" class="form-control" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveGiveAway(giveAway)">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>