<div ng-controller="PrizesCtrl">
    <h1 class="page-header">Prize List</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Producer</th>
            <th>Sponsor</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="prize in list.prizes">
            <td><img src="{{prize.imageUrl}}" /></td>
            <td>{{prize.name}}</td>
            <td>{{prize.producer}}</td>
            <td>{{prize.sponsorName}}</td>
        </tr>
        </tbody>
    </table>

    <p>
        <button type="button" class="btn btn-success" ng-click="add()">Add prize</button>
    </p>
</div>