<div ng-controller="PrizesCtrl">
    <h1 class="page-header">Prize List</h1>
    <table class="table" ng-if="list.prizes.length">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Producer</th>
            <th>Sponsor</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="prize in list.prizes">
            <td class="prize-thumb" ng-if="prize.imageUrl.length"><img ng-src="{{prize.imageUrl}}" /></td>
            <td class="prize-thumb" ng-if="!prize.imageUrl.length"><img ng-src="{{placeholderPrize}}" /></td>
            <td>{{prize.name}}<br /><b>ID:</b> {{prize.id}}</td>
            <td>{{prize.producer}}</td>
            <td>{{prize.sponsorName}}</td>
            <td style="vertical-align:middle">
                <button type="button" class="btn btn-info btn-sm" ng-click="edit(prize)">
                    <span class="glyphicon glyphicon-edit"></span>
                    Edit
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="alert alert-info" ng-if="!list.prizes.length">
        <p>There are no prizes defined. <strong>Define your first prize.</strong></p>
    </div>

    <p>
        <button type="button" class="btn btn-success" ng-click="add()">
            <span class="glyphicon glyphicon-plus"></span>
            Add
        </button>
    </p>
</div>