body, p, input, h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
    font-size: 11pt;
}

a {
    color: #444;
    display: inline-block;
    cursor: pointer !important;
}

.title {
    font-weight: 100;
    border-bottom: 4px dotted orange;
    display: inline-block;
    padding: 10px 0;
    margin: 10px 10px 10px 0;
}

.subtitle {
    font-weight: 400;
    padding: 10px 0;
    margin: 10px 10px 10px 0;
}

.navbar {
    background: #fff;
}

.navbar a {
    color: #666;
}

.positioned-right {
    margin: 21px 0 0 0;
}

.positioned-left {
    margin-right: 30px;
}

.x-color {
    font-weight: bolder;
    color: orange;
}

.main-section {
    background: #fafafa;
}

.main-section > .container {
    padding: 0 0 30px 0;
}

.event,
.giveaway,
.attendee {
    padding: 4px 0;
    margin: 4px 0;
    border-bottom: 1px dashed #ccc;
}

.event:last-child,
.giveaway:last-child,
.attendee:last-child {
    border: none;
}

.attendee p {
    position: relative;
}
.attendee p .email-verified {
    position: absolute;
    top: -10px;
    left: -8px;
}

.event > .date {
    font-size: 0.8em;
    color: #888;
}

.event > .name {
    font-weight: bold;
}

.event > .name a {
    color: #555;
}

.attendee {
    border: none;
    padding: 3px 0;
    margin: 3px 0;
}

.attendee p {
    font-size: 11pt;
    margin: 0;
    padding: 0;
}

.attendee .avatar {
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-right: 10px;
}

.draw-area {
    margin: 70px 0;
}

.giveaways {
    padding: 10px 0;
}

footer {
    background: none;
    color: #777;
    padding: 30px 0;
}